<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Farcaster Search</title>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="apple-touch-icon" href="/img/search-logo.png">
  <link rel="icon" href="/img/favicon-16.png" sizes="16x16" />
  <link rel="icon" href="/img/favicon-32.png" sizes="32x32" />
  <link rel="icon" href="/img/favicon-64.png" sizes="64x64" />
  <link rel="icon" href="/img/favicon-96.png" sizes="96x96" />

  <meta property="og:image" content="https://searchcaster.xyz/img/opengraph.png" />
  <meta property="og:description" name="description" content="Search for any cast" />
  <meta name="description" content="Search for any cast on the Farcaster protocol." />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-EDX4BE3BNW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EDX4BE3BNW');
  </script>
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="header-flex">
        <img class="logo" src="/img/logo.png" width="48" alt="Farcaster logo">
        <h1>Farcaster Search</h1>
      </div>
    </div>
    <% if (denied) { %>
      <p>gm, you need to have an ethereum wallet to use searchcaster ;)</p>
    <% } else { %>

    <p class="mb-3">Search for any cast. Updates every 30 minutes.</p>
    <form>
      <div class="input-group">
        <input type="text" name="text" autofocus placeholder="It's time to Farcast">
        <input type="submit" value="Search">
      </div>
    </form>
    <noscript>
      <p class="error">You'll need Javascript to use this app</p>
    </noscript>

    <div class="suggestions">
      <div class="suggestion">
        <h2 class="h3">Popular Topics</h2>
        <div class="suggestion__wrapper">
          <a class="suggestion__item" href="/search">All casts</a>
          <a class="suggestion__item" href="/search?text=startup">Startup</a>
          <a class="suggestion__item" href="/search?text=nft">NFT</a>
          <a class="suggestion__item" href="/search?text=farcaster">Farcaster</a>
        </div>
      </div>
  
      <div class="suggestion">
        <h2 class="h3">Media Types</h2>
        <div class="suggestion__wrapper">
          <a class="suggestion__item" href="/search?media=url">All links</a>
          <a class="suggestion__item" href="/search?media=image">Images</a>
          <a class="suggestion__item" href="/search?media=music">Music</a>
          <a class="suggestion__item" href="/search?media=youtube">YouTube</a>
        </div>
      </div>
  
      <div class="suggestion">
        <h2 class="h3">Popular (all time)</h2>
        <div class="suggestion__wrapper">
          <a class="suggestion__item" href="/search?engagement=reactions">Most reactions</a>
          <a class="suggestion__item" href="/search?engagement=recasts">Most recasts</a>
          <a class="suggestion__item" href="/search?engagement=watches">Most watches</a>
        </div>
      </div>

      <div class="suggestion">
        <h2 class="h3">Trending (Last 7 Days)</h2>
        <div class="suggestion__wrapper">
          <a class="suggestion__item" href="/search?engagement=reactions&after=<%= timeLastWeek %>">Most reactions</a>
          <a class="suggestion__item" href="/search?engagement=recasts&after=<%= timeLastWeek %>">Most recasts</a>
          <a class="suggestion__item" href="/search?engagement=watches&after=<%= timeLastWeek %>">Most watches</a>
        </div>
      </div>
    </div>
  </div>

  <% } %>

  <script>
    if (window.innerWidth > 500) {
      if (!window.location.href.includes('?nope') && !window.ethereum) {
        window.location.href = '/?nope'
      } else if (window.location.href.includes('?nope') && window.ethereum) {
        window.location.href = '/'
      }
    } else if (window.location.href.includes('?nope')) {
      window.location.href = '/'
    }

    const form = document.querySelector('form')

    form.addEventListener('submit', (e) => {
      e.preventDefault()
      const query = document.querySelector('input[name="text"]')
      const searchText = query.value.replace(/#/g, '%23')

      try {
        gtag('event', 'search', {
          search_term: query.value,
        })
      } catch (err) {
        console.log('Error logging GA event.', err)
      }

      window.location.href = `/search?text=${searchText}`
    })
  </script>
</body>
</html>