<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Farcaster Search</title>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="apple-touch-icon" href="/img/search-logo.png">
  <link rel="icon" href="/img/favicon-16.png" sizes="16x16" />
  <link rel="icon" href="/img/favicon-32.png" sizes="32x32" />
  <link rel="icon" href="/img/favicon-64.png" sizes="64x64" />
  <link rel="icon" href="/img/favicon-96.png" sizes="96x96" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-EDX4BE3BNW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-EDX4BE3BNW');
  </script>
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="header-flex">
        <img class="logo" src="/img/logo.png" width="48" alt="Farcaster logo">
        <h1>Farcaster Search</h1>
      </div>
    </div>
    <p class="mb-3">Search for any cast through June 6, 2022 at 11:20pm EST.</p>
    <form action="/search" method="POST">
      <div class="input-group">
        <input type="text" name="text" autofocus placeholder="It's time to Farcast">
        <input type="submit" value="Search">
      </div>
    </form>
    <p class="error">Enter at least four characters</p>
  </div>

  <script>
    const form = document.querySelector('form')
    const query = document.querySelector('input[name="text"]')
    const error = document.querySelector('.error')

    form.addEventListener('submit', (e) => {
      e.preventDefault()

      if (query.value.length < 4) {
        return error.style.display = 'block'
      } else {
        gtag('event', 'search_text', {
          event_category: 'engagement',
          event_label: query.value,
        })

        error.style.display = 'none'
        e.target.submit()
      }
    })
  </script>
</body>
</html>