*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #1c1e21;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 2rem;
  line-height: 1;
}

p {
  word-break: break-word;
}

p:not(:last-of-type) {
  margin-bottom: 1rem;
}

img {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: none;
}

label {
  display: block;
  margin-bottom: .125rem;
}

summary:hover {
  cursor: pointer;
}

a {
  color: #8a63d2;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.container {
  max-width: 40rem;
  padding: 2rem;
  margin: 0 auto;
}

.header {
  margin-bottom: 1.5rem;
}

.header-flex {
  display: flex;
  align-items: center;
}

.logo {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
}

.input-group {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

input {
  font-size: inherit;
}

input {
  width: 100%;
  padding: 0.5rem;
  -webkit-appearance: none;
  outline-color: #8a63d2;
}

input[type="text"] {
  border-width: .0625rem 0 .0625rem .0625rem;
  border-style: solid;
  border-color: #ccc;
  border-radius: 0.25rem 0 0 0.25rem;
  font-size: 1rem;
}

input[type="submit"] {
  background-color: #8a63d2;
  color: #fff;
  border: .0625rem solid #8360c4;
  border-radius: 0 0.25rem 0.25rem 0;
  transition: all .2s ease-in-out;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  cursor: pointer;
  background-color: #f8f3ff;
  color: #8a63d2;
}

.error {
  margin-top: 1rem;
  color: #EF4444;
}

.filters {
  margin-bottom: 2rem;
  background: #ebe7f4;
  border-radius: 0.5rem;
}

.filters__title {
  /* font-size: 1rem; */
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.filters__content {
  padding: 0.25rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cast {
  position: relative;
  display: block;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  background: #f3f5f9;
  box-shadow: 0px 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.cast__body {
  padding: 1rem;
}

.cast__author {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.cast__avatar {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 1.5rem;
  background: #fff;
  margin-right: 0.75rem;
  box-shadow: 0px 0.125rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.08);
}

.cast__names {
  display: flex;
  flex-direction: column;
}

.cast__display-name {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: -0.125rem;
}

.cast__username {
  color: #303235;
  font-size: 0.875rem;
}

.cast__username:hover,
.cast__username:focus-visible {
  cursor: pointer;
  text-decoration: underline;
}

.cast__date {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #7d8085;
  font-size: .875rem;
}

.cast__text {
  white-space: pre-wrap;
}

.cast__attachment-link {
  display: block;
  border-radius: 0.5rem;
  margin-top: 1rem;
  max-width: 25rem;
  overflow: hidden;
}

.cast__attachment {
  width: 100%;
}

.cast__meta {
  background: #ebe7f4;
  color: #7d8085;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 0.875rem;
}

@media screen and (max-width: 30em) {
  h1 {
    font-size: 1.8rem;
  }

  .container {
    padding: 1.5rem 1.25rem;
  }

  .logo {
    width: 2.8rem;
    height: 2.8rem;
  }

  .input-group {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .filters .input-group {
    gap: 0.5rem;
  }

  input[type="text"] {
    border-width: .0625rem;
    border-radius: 0.25rem;
  }
  
  input[type="submit"] {
    border-radius: 0.25rem;
  }

  .cast {
    margin-bottom: 1.5rem;
  }
}
