@font-face {
  font-family: 'Satoshi-Variable';
  src: url('/fonts/satoshi/Satoshi-Variable.ttf') format('truetype'),
    url('/fonts/satoshi/Satoshi-Variable.woff2') format('woff2'),
    url('/fonts/satoshi/Satoshi-Variable.woff') format('woff');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Medium.otf') format('opentype'),
    url('/fonts/satoshi/Satoshi-Medium.woff2') format('woff2'),
    url('/fonts/satoshi/Satoshi-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Bold.otf') format('opentype'),
    url('/fonts/satoshi/Satoshi-Bold.woff2') format('woff2'),
    url('/fonts/satoshi/Satoshi-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Variable.ttf') format('truetype'),
    url('/fonts/satoshi/Satoshi-Variable.woff2') format('woff2'),
    url('/fonts/satoshi/Satoshi-Variable.woff') format('woff');
  font-weight: 800;
  font-variation-settings: 'wght' 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Black.otf') format('opentype'),
    url('/fonts/satoshi/Satoshi-Black.woff2') format('woff2'),
    url('/fonts/satoshi/Satoshi-Black.woff') format('woff');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
