:root {
  --bg-color: #ffffff;
  --text-color: #1c1e21;
  --text-color-light: #7d8085;
  --border-color: #cccccc;
  --primary-color: #8a63d2;
  --primary-color-hover: #8360c4;
  --primary-color-light: #ebe7f4;
  --primary-color-lighter: #f8f3ff;
  --error-color: #ef4444;
  --gray-100: #f3f5f9;
  --shadow-rgb: 0, 0, 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  line-height: 1.1;
}

h1 {
  font-size: 2rem;
}

h2,
.h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h3,
.h3 {
  font-size: 1.125rem;
}

p + ul {
  margin-top: 0.5rem;
}

li + li {
  margin-top: 0.5rem;
}

ul + p {
  margin-top: 1.25rem;
}

p {
  word-break: break-word;
}

p:not(:last-child) {
  margin-bottom: 1.25rem;
}

p:not(:last-of-type) + ul {
  margin-top: -0.75rem;
}

code {
  font-size: 110%;
  display: inline-block;
  transform: translateY(-0.0625rem);
}

img {
  display: block;
  max-width: 100%;
}

button {
  color: inherit;
  font-size: inherit;
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 0.125rem;
}

summary:hover {
  cursor: pointer;
}

ul {
  padding-left: 2rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.container {
  max-width: 40rem;
  padding: 2rem;
  margin: 0 auto;
}

.header {
  margin-bottom: 1.5rem;
}

.header-flex {
  display: flex;
  align-items: center;
}

.header--pagination {
  margin-bottom: 0.75rem;
}

.header--pagination .logo {
  margin-right: 0.75rem;
}

.logo {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
}

.title__page-number {
  display: block;
  font-size: 45%;
  color: var(--text-color-light);
}

.input-group {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

input,
button {
  font-size: inherit;
}

input,
button {
  width: 100%;
  padding: 0.5rem;
  -webkit-appearance: none;
  outline-color: var(--primary-color);
}

input[type='text'] {
  border-width: 0.0625rem 0 0.0625rem 0.0625rem;
  border-style: solid;
  border-color: var(--border-color);
  border-radius: 0.25rem 0 0 0.25rem;
  font-size: 1rem;
}

button,
input[type='submit'] {
  background-color: var(--primary-color);
  color: var(--bg-color);
  border: 0.0625rem solid var(--primary-color-hover);
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}

input[type='submit'] {
  border-radius: 0 0.25rem 0.25rem 0;
}

input[type='submit']:hover,
input[type='submit']:focus,
button:hover,
button:focus {
  cursor: pointer;
  background-color: var(--primary-color-lighter);
  color: var(--primary-color);
}

.error {
  margin-top: 1rem;
  color: var(--error-color);
}

.suggestions {
  margin-top: 2rem;
}

.suggestion {
  margin-bottom: 1.5rem;
}

.suggestion__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  gap: 0.75rem;
  list-style: none;
  padding: 0;
}

.suggestion__item {
  margin: 0;
  padding: 0.125rem 0.75rem;
  color: var(--primary-color-hover);
  background-color: var(--bg-color);
  border: 1px solid var(--primary-color-hover);
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.suggestion__item:hover,
.suggestion__item:focus-visible {
  color: var(--bg-color);
  outline: none;
  background-color: var(--primary-color-hover);
}

.suggestion__item a:focus {
  outline: none;
}

.filters {
  margin-bottom: 2rem;
  background: var(--primary-color-light);
  border-radius: 0.5rem;
}

.filters__title {
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.filters__content {
  padding: 0.25rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cast {
  position: relative;
  display: block;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  background: var(--gray-100);
  box-shadow: 0px 0.125rem 0.25rem rgba(var(--shadow-rgb), 0.15);
  overflow: hidden;
}

.cast--replies-msg {
  margin-bottom: 1rem;
  font-weight: 600;
  text-align: center;
}

.cast__body {
  padding: 1rem 1rem 0.5rem;
}

.cast__author {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.cast__avatar {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 1.5rem;
  background: var(--bg-color);
  margin-right: 0.75rem;
  box-shadow: 0px 0.125rem 0.375rem -0.0625rem rgba(var(--shadow-rgb), 0.08);
}

.cast__names {
  display: flex;
  flex-direction: column;
}

.cast__display-name {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: -0.125rem;
}

.cast__username {
  color: var(--text-color);
  opacity: 0.95;
  font-size: 0.875rem;
}

.cast__username:hover,
.cast__username:focus-visible {
  cursor: pointer;
  text-decoration: underline;
}

.cast__date {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--text-color-light);
  font-size: 0.875rem;
}

.cast__text {
  white-space: pre-wrap;
}

.cast__attachment-link {
  display: block;
  border-radius: 0.5rem;
  margin-top: 1rem;
  max-width: 25rem;
  overflow: hidden;
}

.cast__attachment {
  width: 100%;
}

.cast__meta {
  background: var(--primary-color-light);
  color: var(--text-color-light);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 0.875rem;
}

.cast__engagement {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  font-size: 0.875rem;
  color: var(--text-color-light);
  align-items: center;
  margin-top: 1rem;
  gap: 2rem;
}

.cast__engagement svg {
  vertical-align: text-bottom;
  margin-right: 0.5rem;
}

.pagination {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
}

.pagination__btn {
  color: inherit;
}

@media screen and (max-width: 30em) {
  h1 {
    font-size: 1.8rem;
  }

  .container {
    padding: 1.5rem 1.25rem;
  }

  .logo {
    width: 2.8rem;
    height: 2.8rem;
  }

  .input-group {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .filters .input-group {
    gap: 0.5rem;
  }

  input[type='text'] {
    border-width: 0.0625rem;
    border-radius: 0.25rem;
  }

  input[type='submit'] {
    border-radius: 0.25rem;
  }

  .cast {
    margin-bottom: 1.5rem;
  }
}
